<div class="m-t-6xl">
  <div class="m-t-3xl m-b-3xl">
    <div class="p-l-l p-r-l p-b-3xl">
      <mat-tab-group>
        <mat-tab label="Active ({{activeProjects?.length}})">
          <project-table [projects]="activeProjects" [isActive]="true" (onProjectsEvent)="getAllProjects()"></project-table>
        </mat-tab>
        <mat-tab label="Archived ({{archiveProjects?.length}})">
          <project-table [projects]="archiveProjects" [isActive]="false" (onProjectsEvent)="getAllProjects()"></project-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="floating-button">
    <button mat-fab class="font-size-2xl font-weight-300" (click)="addMediaPlan()">+</button>
  </div>
</div>

