<div class="flex-table">
  <table>
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Last updated</th>
    <th width="100px"></th>
    </thead>
    <tbody class="m-b-s font-size-l">
    <tr *ngFor="let service of services">
      <td>
        <a routerLink="/i/services/{{service._id}}">
          {{service.name}}
        </a>
      </td>
      <td>{{service.description}}</td>
      <td>{{service.updatedAt | date:'dd/MM/yyyy'}}</td>
      <td class="text-right">
        <service-menu [isActive]="isActive" [model]="service" (onServiceEvent)="onMediaPlanChanged($event)"></service-menu>
      </td>
    </tr>
    </tbody>
  </table>
</div>