<div class="m-t-6xl">
  <div class="m-t-3xl">
    <div class="p-l-l p-r-l m-b">
      <mat-card>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="flex-container">
            <div class="">
              <mat-form-field class="regular-field">
                <input
                    formControlName="campaignName"
                    name="campaignName"
                    matInput
                    placeholder="Campaign Name">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="regular-field">
                <mat-select placeholder="Devices" formControlName="devices" multiple>
                  <mat-option *ngFor="let device of devices" [value]="device.id">
                    {{ device.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>

              <mat-form-field class="regular-field">
                <input matInput placeholder="Geo" [matAutocomplete]="autoGeo" formControlName='geos'>
              </mat-form-field>

              <mat-autocomplete #autoGeo="matAutocomplete" [displayWith]="displayBasicFn">
                <mat-option *ngFor="let geo of (filteredGeos$ | async)" [value]="geo">
                  <span>{{ geo.name }}</span>
                  <small> | ID: {{geo.id}}</small>
                </mat-option>
              </mat-autocomplete>

            </div>
            <div>
              <mat-form-field class="regular-field">
                <mat-select placeholder="Genders" formControlName="genders" multiple>
                  <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{ gender }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="regular-field">
                <mat-select placeholder="Age" formControlName="ageCategories" multiple>
                  <mat-option *ngFor="let ac of ageCategories" [value]="ac">
                    {{ ac }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="regular-field">
                <input matInput placeholder="Interest" [matAutocomplete]="autoInterest" formControlName='interests'>
              </mat-form-field>
              <mat-autocomplete #autoInterest="matAutocomplete" [displayWith]="displayBasicFn">
                <mat-option *ngFor="let interest of (filteredInterests$ | async)" [value]="interest">
                  <span>{{ interest.name }}</span>
                  <small> | ID: {{interest.id}}</small>
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="audience-list">
              <mat-form-field class="double-field">
                <input matInput placeholder="Audience" [matAutocomplete]="autoAudience" formControlName='audiencies'>
              </mat-form-field>
              <mat-autocomplete #autoAudience="matAutocomplete" [displayWith]="displayBasicFn">
                <mat-option *ngFor="let audience of (filteredAudiencies$ | async)" [value]="audience">
                  <span>{{ audience.name }}</span>
                  <small> | ID: {{audience.id}}</small>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="tags-container mt-3">
            <div *ngFor="let interest of selectedInterests">
              <app-tag [tag]="interest" (deleted)="deleteTag($event, selectedInterests)"></app-tag>
            </div>
            <div *ngFor="let geo of selectedGeos">
              <app-tag [tag]="geo" (deleted)="deleteTag($event, selectedGeos)"></app-tag>
            </div>
            <div *ngFor="let audience of selectedAudiencies">
              <app-tag [tag]="audience" (deleted)="deleteTag($event, selectedAudiencies)"></app-tag>
            </div>
          </div>
          <div class="flex-container">
            <div class="m-t-l m-b text-center">
                <span class="m-r-l">
                    <button mat-raised-button class="mat-primary" [disabled]="!form.valid" type="submit">
                      Generate
                    </button>
                </span>
            </div>
          </div>
        </form>
      </mat-card>
      <div *ngIf="showSpinner">
        <mat-spinner class="spinner m-t-6xl m-b-6xl"></mat-spinner>
      </div>

      <div class="m-t-l" *ngIf="!showSpinner && lineItems.length > 0">
        <app-line-item-list [lineItems]="lineItems"></app-line-item-list>
      </div>

    </div>
  </div>
</div>
