<div class="m-t-6xl">
  <div class="m-t-3xl">
    <div class="p-l-l p-r-l m-b">
      <mat-card>
        <div class="flex-container">
          <div class="m-r-l">
            <mat-form-field class="regular-field">
              <input
                  formControlName="campaignName"
                  name="campaignName"
                  matInput
                  placeholder="Campaign Name">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="regular-field">
              <mat-select placeholder="Devices" formControlName="devices" multiple>
                <mat-option *ngFor="let device of devices" [value]="device.id">
                  {{ device.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="regular-field">
              <mat-select placeholder="Geo" formControlName="geos" multiple>
                <mat-option *ngFor="let geo of geos" [value]="geo.id">
                  {{ geo.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
