<div>
  <div class="m-b-3xl">
    <div class="p-l-l p-r-l p-b-3xl" *ngIf="activeEnrollments && archiveEnrollments">
      <div>
        <form [formGroup]="form">
          <div class="search-container">
            <div class="search-box">
              <mat-form-field class="search-field">
                <input
                    formControlName="search"
                    name="search"
                    matInput
                    placeholder="Search">
              </mat-form-field>
            </div>
          </div>
        </form>
        <mat-tab-group>
          <mat-tab label="Active ({{getFilteredActiveEnrollments().length}})">
            <enrollment-table [enrollments]="getFilteredActiveEnrollments()" [isActive]="true" (onEnrollmentsEvent)="getAllEnrollments()"></enrollment-table>
          </mat-tab>
          <mat-tab label="Archived ({{getFilteredArchivedEnrollments().length}})">
            <enrollment-table [enrollments]="getFilteredArchivedEnrollments()" [isActive]="false" (onEnrollmentsEvent)="getAllEnrollments()"></enrollment-table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="floating-button">
    <button mat-fab class="font-size-2xl font-weight-300" (click)="addMediaPlan()">+</button>
  </div>
</div>

