<div class="m-t-6xl">
  <div class="m-t-3xl">
    <div class="p-l-l p-r-l m-b">
      <!--<div [ngSwitch]="mainRole">-->
        <!--<app-student-calendar-->
          <!--*ngSwitchCase="roles.STUDENT">-->
        <!--</app-student-calendar>-->
        <!--<app-client-calendar-->
          <!--*ngSwitchCase="roles.CLIENT">-->
        <!--</app-client-calendar>-->
        <!--<app-teacher-calendar-->
          <!--*ngSwitchCase="roles.TEACHER">-->
        <!--</app-teacher-calendar>-->
      <!--</div>-->
    </div>
  </div>
</div>
