<app-entity-list
		[addEntityEnabled]="true"
        [searchFields]="'name,description'"
        [pathToViewComponent] = "'/i/admin/services'"
        [fieldLabels] = "['Name', 'Description', 'Date']"
        [fields] = "['name', 'description', 'updatedAtFormatted']"
        [eventTypesForActiveEntities] = "eventTypesForActiveEntities"
        [eventTypesForArchivedEntities] = "eventTypesForArchivedEntities"
        [entities] = "getEntities()"
        (event) = "eventHandler($event)">
</app-entity-list>
