<app-calendar
  [individualLessons]="individualLessons"
  (hourSegmentClicked)="addIndividualLesson($event)">
  <form novalidate [formGroup]="filtersForm">
    <div class="filters-container">
      <div><h2 class="p-t">{{student?.user?.lastName}} {{student?.user?.firstName}}</h2></div>
      <div class="right text-right">
        <mat-form-field class="regular-field">
          <mat-select placeholder="Teachers" formControlName="teachers" multiple (selectionChange)="getIndividualLessonsBySelectedFilersValues()">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher._id">
              {{teacher.user.lastName}} {{teacher.user.firstName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</app-calendar>