<div class="m-t-6xl">
	<div class="m-t-3xl">
		<div class="p-l-l p-r-l m-b-xl">
			<div class="secondary-menu">
				<a [routerLink]=" ['/i/admin/enrollments'] "
				   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
					<u>Enrollments</u>
				</a>
				<a [routerLink]=" ['/i/admin/clients'] "
				   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
					<u>Clients</u>
				</a>
				<a [routerLink]=" ['/i/admin/services'] "
				   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
					<u>Services</u>
				</a>
				<a [routerLink]=" ['/i/admin/instruments'] "
				   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
					<u>Instruments</u>
				</a>
				<a [routerLink]=" ['/i/admin/'] "
				   routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
					<u>Users</u>
				</a>
			</div>
		</div>
		<div class="">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>