<div class="">
  <div class="m-t-3xl m-b-3xl">
    <div class="p-l-l p-r-l p-b-3xl">
      <mat-tab-group>
        <mat-tab label="Active ({{activeEntities?.length}})">
          <instrument-table [instruments]="activeEntities" [isActive]="true" (onInstrumentsEvent)="getAllEntities()"></instrument-table>
        </mat-tab>
        <mat-tab label="Archived ({{archivedEntities?.length}})">
          <instrument-table [instruments]="archivedEntities" [isActive]="false" (onInstrumentsEvent)="getAllEntities()"></instrument-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="floating-button">
    <button mat-fab class="font-size-2xl font-weight-300" (click)="addMediaPlan()">+</button>
  </div>
</div>

