<div class="p-t-3xl p-l-l p-r-l">
  <div class="p-t-3xl">
    <div class="calendar-header-container">
      <div class="date-switcher">
        <mwl-demo-utils-calendar-header
                [(view)]="view"
                [(viewDate)]="viewDate">
        </mwl-demo-utils-calendar-header>
      </div>
      <div class="filters">
        Filters
      </div>
    </div>
  </div>
</div>

<div class="p-l-l p-r-l">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [activeDayIsOpen]="true"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [dayStartHour]="8"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [dayStartHour]="8"
            [events]="events"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>