<div class="m-t-6xl">
    <div class="m-t-3xl">
        <div class="p-l-l p-r-l m-b-xl">
            <form novalidate [formGroup]="form" class="m-b-l">
                <div class="flex-container">
                    <div>
                        <mat-form-field class="regular-field m-r-l">
                            <mat-select
                                placeholder="Scaling"
                                formControlName="scaling"
                                (selectionChange)="
                                    updateCompanyValuesToDisplay()
                                "
                            >
                                <mat-option
                                    *ngFor="let scaling of scalings"
                                    [value]="scaling"
                                >
                                    {{ getScalingName(scaling) }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field
                            class="regular-field m-r-l"
                            (keyup)="updateCompanyValuesToDisplay()"
                        >
                            <input
                                formControlName="search"
                                name="search"
                                matInput
                                placeholder="Search"
                            />
                        </mat-form-field>
                        <mat-form-field class="regular-field m-r-l">
                            <mat-select
                                placeholder="Cities"
                                formControlName="cities"
                                multiple
                                (selectionChange)="
                                    updateCompanyValuesToDisplay()
                                "
                            >
                                <mat-option
                                    *ngFor="let city of cities"
                                    [value]="city"
                                >
                                    {{ city }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="regular-field m-r-l">
                            <mat-select
                                placeholder="Tags"
                                formControlName="tags"
                                multiple
                                (selectionChange)="
                                    updateCompanyValuesToDisplay()
                                "
                            >
                                <mat-option
                                    *ngFor="let tag of tags"
                                    [value]="tag"
                                >
                                    {{ tag }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-checkbox
                            formControlName="ignored"
                            (change)="updateCompanyValuesToDisplay()"
                            >Show Ignored Companies</mat-checkbox
                        >
                    </div>
                </div>
                <div
                    class="text-right m-t"
                    *ngIf="!isDataLoading && lastUpdated"
                >
                    <small
                        >Last updated: {{ lastUpdated | date: "short" }}. Count:
                        {{ filteredCompanyValuesCount }}.</small
                    >
                </div>
            </form>

            <mat-accordion displayMode="flat" multi class="mat-table">
                <section matSort class="mat-elevation-z2 mat-header-row">
                    <span class="mat-header-cell" mat-sort-header="name"
                        >Name</span
                    >
                    <span class="mat-header-cell" mat-sort-header="mavgTrend"
                        >3mo h/c Δ</span
                    >
                    <span class="mat-header-cell" mat-sort-header="maTrend"
                        >12mo h/c Δ</span
                    >
                    <span class="mat-header-cell" mat-sort-header="robscore"
                        >Robscore</span
                    >
                    <span
                        class="mat-header-cell"
                        mat-sort-header="educationScore"
                        >EduScore</span
                    >
                </section>

                <mat-expansion-panel
                    [expanded]="true"
                    *ngFor="let c of companiesToDisplay$ | async"
                >
                    <mat-expansion-panel-header class="mat-row">
                        <span class="mat-cell">
                            <div>
                                <a routerLink="/i/gwl/{{ getUrlSlug(c) }}">{{
                                    c.name
                                }}</a>
                            </div>
                            <div>
                                <small
                                    ><span *ngIf="c.location?.length > 3"
                                        >{{ c.location }}
                                    </span>
                                    <span *ngIf="c.calculatedLocation"
                                        >(Weighted:
                                        {{ c.calculatedLocation }})</span
                                    ></small
                                >
                            </div>
                        </span>
                        <span class="mat-cell">{{ c.mavgTrend }}%</span>
                        <span class="mat-cell">{{ c.maTrend }}%</span>
                        <span class="mat-cell">{{ c.robscore }}</span>
                        <span class="mat-cell">{{ c.educationScore }}</span>
                    </mat-expansion-panel-header>

                    <div>
                        <div class="m-b-l" class="flex-container">
                            <div>
                                <div *ngIf="c.tags !== ''">
                                    <small
                                        >Tags: <em>{{ c.tags }}</em></small
                                    >
                                </div>
                                <div class="m-t m-b">
                                    <small>
                                        <a
                                            [href]="c.linkedinUrl"
                                            target="_blank"
                                            class="p-r-xl"
                                        >
                                            <img
                                                height="25"
                                                src="/assets/img/linkedin.svg"
                                            />
                                        </a>
                                        <a
                                            [href]="c.crmLink"
                                            target="_blank"
                                            class="p-r-xl"
                                        >
                                            <img
                                                height="25"
                                                src="/assets/img/capsule-crm.svg"
                                            />
                                        </a>
                                        <a [href]="c.cpWebsite" target="_blank"
                                            ><img
                                                height="25"
                                                src="/assets/img/homepage.png"
                                        /></a>
                                    </small>
                                </div>
                            </div>
                            <div class="text-right">
                                <button
                                    *ngIf="!isIgnoreBeingUpdated(c)"
                                    mat-button
                                    class="mat-primary"
                                    (click)="toggleIgnoreCompany(c)"
                                >
                                    {{ c.ignore ? "Undo Ignore" : "Ignore" }}
                                </button>
                                <span *ngIf="isIgnoreBeingUpdated(c)">
                                    {{
                                        c.ignore
                                            ? "Undoing Ignore..."
                                            : "Ignoring..."
                                    }}
                                </span>
                            </div>
                        </div>
                        <div>
                            <!-- Chart goes here -->
                            <app-chart [company]="c"></app-chart>
                        </div>
                        <div class="m-t-xl m-b-2xl">
                            <app-company-details
                                [company]="c"
                            ></app-company-details>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-spinner
                *ngIf="isDataLoading"
                class="m-t-2xl spinner"
            ></mat-spinner>
        </div>
        <div class="m-t-xl m-b-2xl m-l-l m-r-l mat-elevation-z8">
            <div class="flex-container justify-content-space-evenly">
                <mat-paginator
                    *ngIf="!isDataLoading"
                    [length]="filteredCompanyValuesCount"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="onPage($event)"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
