.mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
}

.mat-expansion-panel-header.mat-row {
    border-bottom: none;
}

//copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
$mat-header-row-height: 56px;
$mat-row-height: 48px;
$mat-row-horizontal-padding: 24px;

.mat-table {
    display: block;
}

.mat-header-row {
    min-height: $mat-header-row-height;
    margin-bottom: 10px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    border-radius: 4px;
}

.mat-row {
    min-height: $mat-row-height;
}

.mat-row,
.mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;

    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &::after {
        display: inline-block;
        min-height: inherit;
        content: "";
    }
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.mat-paginator {
    font-size: 18px;
    background-color: transparent;
}

.mat-cell-kpi {
    font-size: larger;
    font-weight: 700;
}

.company-item {
    margin-bottom: 15px;

    .company-header-container {
        display: flex;
        flex-wrap: wrap;

        .company-main {
            flex: 1;
            min-width: 380px;

            .company-name {
                font-family: "Roboto Slab";
                font-size: 1.2em;
            }
        }

        .company-main-kpis {
            flex: 4;
        }

        .ignore-button {
            flex: 1;
        }
    }
}

.company-links-container {
    display: flex;
    flex-direction: row;
}
