<div class="m-t-6xl company-view">
    <card-template *ngIf="company">
        <div class="flex-container m-b-l">
            <div class="flex-container-left">
                <div>
                    <h1>{{ company?.name }}</h1>
                    <div>
                        <small>
                            <span *ngIf="company.location?.length > 3"
                                >{{ company.location }}
                            </span>
                            <span *ngIf="company.calculatedLocation"
                                >(Weighted: {{ company.calculatedLocation }})
                            </span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="m-t-l">
                <app-kpi-card
                    [name]="'3mo h/c Δ'"
                    [value]="company.mavgTrend"
                    [percentageMode]="true"
                    [isBig]="true"
                ></app-kpi-card>
            </div>
            <div class="m-t-l">
                <app-kpi-card
                    [name]="'12mo h/c Δ'"
                    [value]="company.maTrend"
                    [percentageMode]="true"
                    [isBig]="true"
                ></app-kpi-card>
            </div>
            <div class="m-t-l">
                <app-kpi-card
                    [name]="'Robscore'"
                    [value]="company.robscore"
                    [isBig]="true"
                ></app-kpi-card>
            </div>
            <div class="m-t-l">
                <app-kpi-card
                    [name]="'EduScore'"
                    [value]="company.educationScore"
                    [isBig]="true"
                ></app-kpi-card>
            </div>
        </div>
        <div>
            <div *ngIf="company.tags !== ''">
                <small
                    >Tags: <em>{{ company.tags }}</em></small
                >
            </div>
            <div class="m-t m-b">
                <app-company-links [company]="company"></app-company-links>
            </div>
        </div>
        <div class="m-b-xl">
            <app-chart [company]="company"></app-chart>
        </div>
        <app-company-details-by-cards
            [company]="company"
        ></app-company-details-by-cards>
        <div class="capsule-container m-t-xl">
            <div class="company-info">
                Capsule info goes here
            </div>
            <div class="notes">
                <h2>Notes</h2>
                <div *ngFor="let note of capsuleNotes$ | async">
                    <app-capsule-note [note]="note"></app-capsule-note>
                </div>
            </div>
        </div>
    </card-template>
    <mat-spinner *ngIf="!company" class="m-t-2xl spinner"></mat-spinner>
</div>
