<div class="m-t-6xl company-view">
    <card-template *ngIf="company">
        <div class="flex-container m-b-l">
            <div class="flex-container-left">
                <div>
                    <h1>{{ company?.name }}</h1>
                    <div>
                        <small>
                            <span *ngIf="company.location?.length > 3"
                                >{{ company.location }}
                            </span>
                            <span *ngIf="company.calculatedLocation"
                                >(Weighted: {{ company.calculatedLocation }})
                            </span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="m-t-l kpi-card-big">
                <app-kpi-card
                    [name]="'3mo h/c Δ'"
                    [value]="company.mavgTrend"
                    [percentageMode]="true"
                ></app-kpi-card>
            </div>
            <div class="m-t-l kpi-card-big">
                <app-kpi-card
                    [name]="'12mo h/c Δ'"
                    [value]="company.maTrend"
                    [percentageMode]="true"
                ></app-kpi-card>
            </div>
            <div class="m-t-l kpi-card-big">
                <app-kpi-card
                    [name]="'Robscore'"
                    [value]="company.robscore"
                ></app-kpi-card>
            </div>
            <div class="m-t-l kpi-card-big">
                <app-kpi-card
                    [name]="'EduScore'"
                    [value]="company.educationScore"
                ></app-kpi-card>
            </div>
        </div>
        <div>
            <div *ngIf="company.tags !== ''">
                <small
                    >Tags: <em>{{ company.tags }}</em></small
                >
            </div>
            <div class="m-t m-b">
                <app-company-links [company]="company"></app-company-links>
            </div>
        </div>
        <div>
            <app-chart [company]="company"></app-chart>
        </div>
        <div class="flex-container m-t-xl">
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'Eng H/C'"
                    [value]="company.eng"
                ></app-kpi-card>
            </div>
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'Sales H/C'"
                    [value]="company.sales"
                ></app-kpi-card>
            </div>
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'H/C Eng%'"
                    [value]="company.percentEng"
                ></app-kpi-card>
            </div>
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'H/C Sales%'"
                    [value]="company.percentSales"
                ></app-kpi-card>
            </div>
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'Days snc last rnd'"
                    [value]="company.cbLastFundingDate"
                ></app-kpi-card>
            </div>
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'Last series'"
                    [value]="company.cbLastSeries"
                ></app-kpi-card>
            </div>
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'Last val.'"
                    [value]="company.cbLastPremoneyUsd"
                ></app-kpi-card>
            </div>
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'6mo eng Δ'"
                    [value]="company.growth6Eng"
                    [percentageMode]="true"
                ></app-kpi-card>
            </div>
            <div class="kpi-card-small">
                <app-kpi-card
                    [name]="'6mo sales Δ'"
                    [value]="company.growth6Sales"
                    [percentageMode]="true"
                ></app-kpi-card>
            </div>
        </div>
    </card-template>
</div>
