.company-view {
    h1 {
        margin-bottom: 7px;
    }
}

.capsule-container {
    display: flex;
}

.capsule-container > .company-info {
    flex: 1;
}

.capsule-container > .notes {
    flex: 2;
}
