<div class="flex-table">
  <table>
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Last updated</th>
    <th width="100px"></th>
    </thead>
    <tbody class="m-b-s font-size-l">
    <tr *ngFor="let project of projects">
      <td><a routerLink="/i/projects/{{project._id}}">{{project.name}}</a></td>
      <td>{{project.description}}</td>
      <td>{{project.updatedAt | date:'dd/MM/yyyy'}}</td>
      <td class="text-right">
        <project-menu [isActive]="isActive" [model]="project" (onProjectEvent)="onMediaPlanChanged($event)"></project-menu>
      </td>
    </tr>
    </tbody>
  </table>
</div>