<div>
  <h2 class="text-center p-b-l font-color-pale">Confirm to delete</h2>

  <p>Do you really want to delete {{data.name}}?</p>

  <div class="m-t-l p-b-l justifying-containter">
    <div class="m-t-xl">
      <button mat-raised-button class="mat-primary font-size-l button-l" (click)="onDelete()">
        DELETE
      </button>
    </div>
  </div>
  <div class="justifying-containter">
    <button mat-button class="mat-primary font-size-l button-l" (click)="onCancel()">
      CANCEL
    </button>
  </div>
</div>