<div *ngIf="lineItems && lineItems.length > 0">
    <table>
        <thead>
            <th>Campaign Name</th>
            <th>Device</th>
            <th>Geo</th>
            <th>Interest</th>
            <th>Gender</th>
            <th>Age</th>
        </thead>
        <tbody>
            <tr *ngFor="let li of lineItems">
                <td>{{li.campaignName}}</td>
                <td>{{li.device.name}}</td>
                <td>{{li.geo.name}}</td>
                <td>{{li.interest.name}}</td>
                <td>{{li.gender}}</td>
                <td>{{li.ageCategory}}</td>
            </tr>
        </tbody>
    </table>
</div>
