<div class="">

  <h2 class="text-center p-b-l font-color-pale">New Individual Lesson</h2>

  <div *ngIf="serverErrorMessage !== undefined" class="form-error-block">
    {{serverErrorMessage}}
  </div>

  <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" class="m-t-3xl">
	<div>
	  <mat-form-field class="regular-field">
		  <mat-select placeholder="Student" formControlName="student">
			  <mat-option *ngFor="let student of data.students" [value]="student._id">
				  {{student?.user?.lastName}} {{student?.user?.firstName}} {{student?.user?.appeal}}
			  </mat-option>
		  </mat-select>
	  </mat-form-field>
	</div>
    <div class="m-t-l p-b-l justifying-containter">
		<div class="m-t-xl">
			<span class="m-r-l">
				<button mat-raised-button class="mat-primary font-size-l button-l" [disabled]="!form.valid" type="submit">
				  ADD
				</button>
			</span>
			<span class="m-l-l">
				<button mat-button class="mat-primary font-size-l button-l" (click)="onNoClick()">
					CANCEL
				</button>
			</span>
		</div>
    </div>
  </form>
</div>