<div class="">
	<div class="flex-container-left">
		<div class="center-the-rest">
			<h2 class="text-center p-b-l font-color-pale">
				{{(mode === modes.ADD) ? 'New' : ''}} Individual Lesson {{getStartMoment()?.toDate() | date: 'MMM d, y, HH:mm'}} - {{getEndMoment()?.toDate() | date: 'HH:mm'}}
			</h2>
		</div>
	</div>

	<div *ngIf="serverErrorMessage !== undefined" class="form-error-block">
		{{serverErrorMessage}}
	</div>

	<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" class="m-t-3xl">
    <div>
		<mat-form-field class="full-width">
			<input
				formControlName="title"
				name="title"
				matInput
				placeholder="Title">
		</mat-form-field>
	</div>
    <div class="flex-container">
		<div class="m-r-xl">
			<mat-form-field class="regular-field">
				<mat-select placeholder="Student" formControlName="student">
					<mat-option *ngFor="let student of data.students" [value]="student._id">
						{{student?.user?.lastName}} {{student?.user?.firstName}} {{student?.user?.appeal}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="m-r-xl">
			<mat-form-field class="regular-field">
				<mat-select placeholder="Teacher" formControlName="teacher">
					<mat-option *ngFor="let teacher of data.teachers" [value]="teacher._id">
						{{teacher?.user?.lastName}} {{teacher?.user?.firstName}} {{teacher?.user?.appeal}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="regular-field">
				<mat-select placeholder="Duration" formControlName="duration">
					<mat-option *ngFor="let duration of durations" [value]="duration">
						{{duration}} min
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div class="flex-container m-t-l">
		<div class="m-r-xl">
			<mat-form-field class="date-picker">
				<input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Start Date" required>
				<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #startDatePicker></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="m-r-xl">
			<div class="data-field-header">Start Time</div>
			<div class="m-r-xl">
				<ngb-timepicker formControlName="startTime"></ngb-timepicker>
			</div>
		</div>
		<div>
			<mat-form-field class="full-width">
				<textarea
				formControlName="description"
				name="description"
				matInput
				placeholder="Description"></textarea>
			</mat-form-field>
		</div>
	</div>
	<div>
		{{state}}
	</div>
    <div class="m-t-l p-b-l justifying-containter il-buttons">
		<div class="m-t-xl" *ngFor="let action of actions">
			<span class="m-r-l">
				<button mat-raised-button class="mat-primary" [disabled]="!form.valid" type="button" (click)="actionButtonClicked(action.action)">
				  {{action.name}}
				</button>
			</span>
		</div>
		<div class="m-t-xl">
			<span class="m-r-l">
				<button mat-raised-button class="mat-primary" [disabled]="!form.valid" type="submit">
				  {{(mode === modes.ADD) ? 'ADD' : 'SAVE' }}
				</button>
			</span>
		</div>
		<div class="m-t-xl">
			<span class="">
				<button mat-button class="mat-primary" (click)="onNoClick()" type="button">
					CANCEL
				</button>
			</span>
		</div>
    </div>
  </form>
</div>
