.il-buttons {
    max-width: 880px;
}

.comment-add {
    padding: 10px 20px 20px 20px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}

ngb-timepicker {
    .button {
        padding: 0em !important;
    }
}
