<div>
    <div *ngIf="capsuleDetails; else capsuleDetailsSpinner">
        <h2>Capsule</h2>
        <data-field header="Type" [data]="capsuleDetails?.type"></data-field>
        <app-capsule-fields
            [capsuleDetails]="capsuleDetails"
        ></app-capsule-fields>
        <br />
        <data-field header="About" [data]="capsuleDetails?.about"></data-field>
    </div>
    <ng-template #capsuleDetailsSpinner>
        <div class="text-center m-t-2xl">
            <mat-spinner class="spinner"></mat-spinner>
        </div>
    </ng-template>
</div>

<!-- linkedin
website
London, United Kingdom
Type: Deal
Crunchbase: https://crunchbase
Dealroom: https://app.dealroom

About -->
