<div class="flex-table">
  <table>
    <thead>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th width="100px"></th>
    </thead>
    <tbody class="m-b-s font-size-l">
    <tr *ngFor="let client of clients">
      <td>
        <a routerLink="/i/admin/clients/{{client._id}}">
          {{client.user.lastName}} {{client.user.firstName}} ({{client.user.appeal}})
        </a>
      </td>
      <td>{{client.user.phone}}</td>
      <td>{{client.user.email}}</td>
      <td class="text-right">
        <client-menu [isActive]="isActive" [model]="client" (onClientEvent)="onClientChanged($event)"></client-menu>
      </td>
    </tr>
    </tbody>
  </table>
</div>