<div class="m-t-6xl">
  <div class="m-t-3xl">
    <div class="p-l-l p-r-l m-b-xl">
      <mat-accordion displayMode="flat" multi class="mat-table">
        <section matSort class="mat-elevation-z2 mat-header-row">
          <span class="mat-header-cell" mat-sort-header="name">Name</span>
          <span class="mat-header-cell" mat-sort-header="CRM">CRM</span>
          <span class="mat-header-cell" mat-sort-header="maxEmp">Max H/C</span>
          <span class="mat-header-cell" mat-sort-header="mavgTrend">3 mo Accel%</span>
          <span class="mat-header-cell" mat-sort-header="weight">Weight</span>
          <span class="mat-header-cell" mat-sort-header="maTrend">YoY H/C Gain%</span>
          <span class="mat-header-cell" mat-sort-header="eng">Eng H/C</span>
          <span class="mat-header-cell" mat-sort-header="sales">Sales H/C</span>
          <span class="mat-header-cell" mat-sort-header="percentEng">H/C Eng%</span>
          <span class="mat-header-cell" mat-sort-header="percentSales">H/C Sales%</span>
          <span class="mat-header-cell" mat-sort-header="growth6Eng">6mo Eng Growth%</span>
          <span class="mat-header-cell" mat-sort-header="growth6Sales">6mo Sales Growth%</span>
          <span class="mat-header-cell" mat-sort-header="location">HQ</span>
          <span class="mat-header-cell" mat-sort-header="cbLastFundingDate">Since last rnd</span>
          <span class="mat-header-cell" mat-sort-header="cbLastSeries">Last round</span>
          <span class="mat-header-cell" mat-sort-header="cbLastPremoneyUsd">Valuation</span>
        </section>

        <mat-expansion-panel [expanded]="true" *ngFor="let c of companies">
          <mat-expansion-panel-header class="mat-row">
            <span class="mat-cell">
              <a href="{{c.value.linkedinUrl}}" target="_blank">{{c.value.name}}</a>
            </span>
            <span class="mat-cell">
              <a href="{{c.value.crmLink}}" target="_blank">CRM</a>
            </span>
            <span class="mat-cell">{{c.value.maxEmp}}</span>
            <span class="mat-cell">{{c.value.mavgTrend}}%</span>
            <span class="mat-cell">{{c.value.weight}}</span>
            <span class="mat-cell">{{c.value.maTrend}}%</span>
            <span class="mat-cell">{{c.value.eng}}</span>
            <span class="mat-cell">{{c.value.sales}}</span>
            <span class="mat-cell">{{c.value.percentEng}}%</span>
            <span class="mat-cell">{{c.value.percentSales}}%</span>
            <span class="mat-cell">{{c.value.growth6Eng}}%</span>
            <span class="mat-cell">{{c.value.growth6Sales}}%</span>
            <span class="mat-cell">{{c.value.location}}</span>
            <span class="mat-cell">{{c.value.cbLastFundingDate}}</span>
            <span class="mat-cell">{{c.value.cbLastSeries}}</span>
            <span class="mat-cell">{{c.value.cbLastPremoneyUsd}}</span>
          </mat-expansion-panel-header>
          <div class="m-b-l"><small>Tags: <em>{{c.value.tags}}</em></small></div>
          <div>
            <a href="{{c.value.graphBig}}" target="_blank"><img width="100%" src="{{c.value.graphBig}}"></a>
          </div>
          <!--<div><small><pre>{{c | json}}</pre></small></div>-->
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</div>

