<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="crmLink">
    <th mat-header-cell *matHeaderCellDef>
      <a href="{{company.crmLink}}" target="_blank">CRM</a>
    </th>
    <td mat-cell *matCellDef="let company"> {{company.maxEmp}} </td>
  </ng-container>

  <ng-container matColumnDef="maxEmp">
    <th mat-header-cell *matHeaderCellDef> Max H/C </th>
    <td mat-cell *matCellDef="let company"> {{company.maxEmp}} </td>
  </ng-container>

  <ng-container matColumnDef="eng">
    <th mat-header-cell *matHeaderCellDef> Eng H/C </th>
    <td mat-cell *matCellDef="let company"> {{company.eng}} </td>
  </ng-container>

  <ng-container matColumnDef="sales">
    <th mat-header-cell *matHeaderCellDef> Sales H/C </th>
    <td mat-cell *matCellDef="let company"> {{company.sales}} </td>
  </ng-container>

  <ng-container matColumnDef="percentEng">
    <th mat-header-cell *matHeaderCellDef> H/C Eng% </th>
    <td mat-cell *matCellDef="let company"> {{company.percentEng}} </td>
  </ng-container>

  <ng-container matColumnDef="percentSales">
    <th mat-header-cell *matHeaderCellDef> H/C Sales% </th>
    <td mat-cell *matCellDef="let company"> {{company.percentSales}} </td>
  </ng-container>

  <ng-container matColumnDef="cbLastFundingDate">
    <th mat-header-cell *matHeaderCellDef> Since last rnd </th>
    <td mat-cell *matCellDef="let company"> {{company.cbLastFundingDate}} </td>
  </ng-container>

  <ng-container matColumnDef="cbLastSeries">
    <th mat-header-cell *matHeaderCellDef> Last round </th>
    <td mat-cell *matCellDef="let company"> {{company.cbLastSeries}} </td>
  </ng-container>

  <ng-container matColumnDef="cbLastPremoneyUsd">
    <th mat-header-cell *matHeaderCellDef> Valuation </th>
    <td mat-cell *matCellDef="let company"> {{company.cbLastPremoneyUsd}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!--<mat-expansion-panel>-->
  <!--<mat-expansion-panel-header>-->
    <!--Company Details-->
  <!--</mat-expansion-panel-header>-->
  <!--<div>-->




    <!-- Table goes here -->
    <!--<table>-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>CRM</th>-->
        <!--<th>Max H/C</th>-->
        <!--<th>Eng H/C</th>-->
        <!--<th>Sales H/C</th>-->
        <!--<th>H/C Eng%</th>-->
        <!--<th>H/C Sales%</th>-->
        <!--<th>Since last rnd</th>-->
        <!--<th>Last round</th>-->
        <!--<th>Valuation</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr>-->
        <!--<td><a href="{{company.crmLink}}" target="_blank">CRM</a></td>-->
        <!--<td>{{company.maxEmp}}</td>-->
        <!--<td>{{company.eng}}</td>-->
        <!--<td>{{company.sales}}</td>-->
        <!--<td>{{company.percentEng}}%</td>-->
        <!--<td>{{company.percentSales}}%</td>-->
        <!--<td>{{company.cbLastFundingDate}}</td>-->
        <!--<td>{{company.cbLastSeries}}</td>-->
        <!--<td>{{company.cbLastPremoneyUsd}}</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->
<!--</mat-expansion-panel>-->
