.score-card {
    margin-bottom: 10px;
}

.company-name {
    font-size: 1.4em;
}

.location {
    font-size: 0.9em;
}

.main-message {
    font-size: 1.3em;
    font-weight: 500;
}

.secondary-message {
    font-size: 1.2em;
    font-weight: 400;
}

.column {
    margin: 20px 20px 20px 0px;
}

.m-b {
    margin-bottom: 10px;
}

.m-b-l {
    margin-bottom: 20px;
}
