<div class="">

  <h2 class="text-center p-b-l font-color-pale">New Teacher</h2>

  <div *ngIf="serverErrorMessage !== undefined" class="form-error-block">
    {{serverErrorMessage}}
  </div>

  <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" class="m-t-3xl">
	<div class="flex-container">
	  <div class="m-r-xl">
		<mat-form-field class="regular-field">
		  <input
			  formControlName="firstName"
			  name="firstName"
			  matInput
			  placeholder="First Name">
		</mat-form-field>
	  </div>
	  <div class="m-r-xl">
		<mat-form-field class="regular-field">
		  <input
			  formControlName="lastName"
			  name="lastName"
			  matInput
			  placeholder="Last Name">
		</mat-form-field>
	  </div>
	  <div>
		<mat-form-field class="regular-field">
		  <mat-select placeholder="Appeal" formControlName="appeal">
			<mat-option *ngFor="let appeal of appeals" [value]="appeal">
			  {{ appeal }}
			</mat-option>
		  </mat-select>
		</mat-form-field>
	  </div>
	</div>
	  <div class="flex-container">
		  <div class="m-r-xl">
			  <mat-form-field class="regular-field">
				  <input
					  formControlName="phone"
					  name="phone"
					  matInput
					  placeholder="Phone">
			  </mat-form-field>
		  </div>
		  <div class="m-r-xl">
			  <mat-form-field class="regular-field">
				  <input
					  formControlName="email"
					  name="email"
					  matInput
					  placeholder="Email">
			  </mat-form-field>
		  </div>
		  <div>
			  <mat-form-field class="regular-field">
				  <mat-select placeholder="Instruments" formControlName="instruments" multiple>
					  <mat-option *ngFor="let instrument of instruments" [value]="instrument._id">
						  {{ instrument.name }}
					  </mat-option>
				  </mat-select>
			  </mat-form-field>
		  </div>
	  </div>

	<div>
		<mat-form-field class="full-width">
		<textarea
				formControlName="experience"
				name="experience"
				matInput
				placeholder="Experience"></textarea>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field class="full-width">
		<textarea
				formControlName="notes"
				name="notes"
				matInput
				placeholder="Notes"></textarea>
		</mat-form-field>
	</div>
    <div class="m-t-l p-b-l justifying-containter">
		<div class="m-t-xl">
			<span class="m-r-l">
				<button mat-raised-button class="mat-primary font-size-l button-l" [disabled]="!form.valid" type="submit">
				  ADD
				</button>
			</span>
			<span class="m-l-l">
				<button mat-button class="mat-primary font-size-l button-l" (click)="onNoClick()">
					CANCEL
				</button>
			</span>
		</div>
    </div>
  </form>
</div>