@import "../../../../assets/styles/variables";

.data-field {
    font-weight: 100;
    font-size: $font-size-l;
    margin-bottom: $offset-size-xl;
}

.data-field-header {
    font-size: $font-size-s;
    margin-bottom: $offset-size-xs;
    color: $font-color-pale;
}

.data-field-data {
    font-size: $font-size-standard;
}

.data-field-medium {
    font-weight: 100;
    font-size: $font-size-standard;
    margin-bottom: $offset-size-l;
}

.data-field-medium .header {
    font-size: $font-size-s;
    margin-bottom: $offset-size-xs;
    color: $font-color-pale;
}

.data-field-medium .data {
    font-size: $font-size-standard;
}

.data-field-small {
    font-weight: 100;
    font-size: $font-size-s;
    margin-bottom: $offset-size-l;
}

.data-field-small .header {
    font-size: $font-size-xs;
    margin-bottom: $offset-size-xs;
    color: $font-color-pale;
}

.data-field-small .data {
    font-size: $font-size-standard;
}
