<app-entity-list
		[floatingAddButton]="floatingAddButton"
		[searchFieldEnabled]="searchFieldEnabled"
		[addEntityEnabled]="addEntityEnabled"
        [searchFields]="'name,description'"
        [pathToViewComponent] = "'/i/admin/students'"
        [fieldLabels] = "['Name', 'Phone', 'Email']"
        [fields] = "['name', 'phone', 'email']"
        [eventTypesForActiveEntities] = "eventTypesForActiveEntities"
        [eventTypesForArchivedEntities] = "eventTypesForArchivedEntities"
        [entities] = "getEntities()"
        (event) = "eventHandler($event)">
</app-entity-list>
